<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
    <title>USW DS BACKEND</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="logo">
          <a href='/' >Portfolio Backend</a>
      </div>
  
      <div class="links" id="menu"> 
        <ul>
          <li><a href="/"  >Home</a></li>
          <li><a href="/skills-list"  >Skills</a></li>
          <li><a href="/projects-list">Projects</a></li>
        </ul>
      </div>
  </nav>
<!-- home -->
<div class="home">
  <div class="hero">
    <h1 class="heading">Welcome to the EJS backend</h1>
    <p class="write-up">
This is an elegant looking views backend designed with EJS and styled using  Css. The server is based on Node.js and all data are retreived from the database using REST APIs. All CRUD(create, read, update, delete) operations are implemented as instructed in the assessment   </p>
    <div class="buttons">
      <button>
        <a href="/skills-list">View skills →</a></button>
      <button><a href="/projects-list">View projects →</a></button>
    </div>

  </div>
</div>
  </body>
</html>
