<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheet/index.css" />
    <title>Add New Skill</title>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="logo">
        <a href="/">Portfolio Backend</a>
      </div>

      <div class="links" id="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/skills-list">Skills</a></li>
          <li><a href="/projects-list">Projects</a></li>
        </ul>
      </div>
    </nav>
    <div class="add-project">
      <h1>Add New Project</h1>
      <form action="/projects" method="post">
        <div class="project-name">
          <label for="name">Project Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="stack">
          <label for="techStack">Tech stack:</label>
          <textarea
            id="techStack"
            name="techStack"
            rows="4"
            required
          ></textarea>
        </div>

        <div class="project-des">
          <label for="description">Description:</label>
          <textarea
            id="description"
            name="description"
            rows="4"
            required
          ></textarea>
        </div>

        <button type="submit">Add Project</button>
      </form>
    </div>
  </body>
</html>
